/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  overflow-x: hidden !important;
}
html,
body {
  scroll-behavior: smooth;
}

/* custom css */
.my-container {
  @apply w-full mx-auto;
}
@media (min-width: 576px) {
  .my-container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .my-container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .my-container {
    max-width: 970px !important;
  }
}
@media (min-width: 1200px) {
  .my-container {
    max-width: 1170px !important;
  }
  .userImg {
    display: block;
  }
}
@media (min-width: 1400px) {
  .my-container {
    max-width: 1320px !important;
  }
}
